<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AQ Web App</title>
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="application/javascript" src="/js/webApp.js"></script>

</head>
<body id="app" onload="Init()">

    <div id="map_one" v-model="map1">

    </div>

    <div id="map_two" v-model="map2">

    </div>





</body>
</html>