<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AQ Web App</title>
    <link rel="stylesheet" href="webApp.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin="">
    </script>

</head>
<body onload="GetResults()">

    <div id="app">
        <label>
            <input type="text" value="long">
        </label>
        <label>
            <input type="text" value="lat">
        </label>
        <div id="map1">

        </div>
        <div class="table">
            <table id="map1_table">
                <!--<tr id="row" v-for="city in cityNames" v-for="count in count" v-for="locations in locations">
                    <td>{{ city }}</td>
                    <td>{{ count }}</td>
                    <td>{{ locations }}</td>
                </tr> -->

            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="webApp.js"></script>
    <script src="mapCtrl.js"></script>




</body>
</html>